@import 'compass/css3';

*{
	&,
  &:hover,
  &:active,
  &:focus, 
  &:visited{
    outline: none !important;
  }
}
img{
	max-width: 100%;
	max-height: 100%;
}

.page{
	$self: &;
	&--home{
		min-height: 320px;
		// overflow: hidden;
		// width: 100vw;
		min-height: 320px;
		// height: 100vh;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	&--full-size{
		// width: 100vw;
		// height: 100vh;
	}
	&--has-bg-image{
		@include background-size(cover);
	  background: {
	    position: 50% 50%;
	    repeat: no-repeat;
	    image: url('../img/bg--sm.png');
	  };
	  @media (min-width: 768px){
	  	background: {
		    image: url('../img/bg--lg.png');
		  };
	  }
	}
	&__wrapper{
		max-width: 100%;
	}
}

.home{
	&__logo{
		padding-top: 12px;
	}
	&__socials{
		position: relative;
		z-index: 50;
		margin-bottom: 36px;
		font-size: 0;
		text-align: center;
		@media (min-width: 768px){
			margin-top: -112px;
			margin-bottom: 72px;
		}
		@media (min-width: 1200px){
			margin-top: -128px;
			margin-bottom: 80px;
		}
		@media (min-width: 1440px){
			z-index: 10;
			margin-top: -156px;
		}
	}
	&__icons{
		max-width: 100%;
		padding: 0 20px;
		margin: 0 auto;
		@media (min-width: 480px){
			max-width: 480px;
		}
		@media (min-width: 768px){
			padding: 0 0;
			width: 560px;
			max-width: none;
		}
		@media (min-width: 992px){
			width: 840px;
		}
		@media (min-width: 1200px){
			width: 880px;
		}
		@media (min-width: 1440px){
			margin-top: 120px;
			width: 1080px;
		}
	}
	&__actions{
		font-size: 0;
		text-align: center;
		margin-top: 36px;
		padding-bottom: 36px;
		@media (min-width: 1440px){
			margin-top: 48px;
		}
		.action-wrapper{
			padding: 0 20px;
			margin-bottom: 12px;
			white-space: nowrap;
			&:last-child{
				margin-bottom: 0;
			}
			@media (min-width: 992px){
				display: inline-block;
				vertical-align: top;
				margin: 0 6px;
				padding: 0;
			}
			@media (min-width: 1440px){
				margin: 0 12px;
			}
		}
			
	}
}

.x69{
	&-logo{
		display: block;
		width: 138px;
		height: 128px;
		margin: 0 auto 10px;
		position: relative;
		z-index: 60;
		@media (min-width: 480px){
			// width: px;
			// height: px;
		}
		@media (min-width: 768px){
			width: 180px;
			height: 167px;
		}
		@media (min-width: 992px){
			// width: px;
			// height: px;
		}
		@media (min-width: 1200px){
			width: 200px;
			height: 186px;
		}
		@media (min-width: 1440px){
			width: 257px;
			height: 239px;
		}
	}
	&-btn{
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		&--social{
			height: 44px;
			margin-right: 8px;
			font-size: 16px;
			&:last-child{
				margin-right: 0 !important;
			}
			@media (min-width: 480px){
				height: 48px;
			}
			@media (min-width: 768px){
				height: 52px;
				margin-right: 240px;
			}
			@media (min-width: 992px){
				height: 56px;
			}
			@media (min-width: 1200px){
				height: 72px;
			}
			@media (min-width: 1440px){
				// height: 72px;
				margin-right: 360px;
			}
		}
		&--action{
			max-width: calc(50% - 12px);
			height: auto;
			margin-right: 12px;
			max-height: 48px;
			&:last-child{
				margin-right: 0 !important;
			}
			@media (min-width: 480px){
				height: 48px;
			}
			@media (min-width: 768px){
				max-height: none;
			}
			@media (min-width: 992px){
				height: 56px;
			}
			@media (min-width: 1440px){
				height: 72px;
			}
			// @media (min-width: 1440px){
			// 	margin-right: 24px;
			// 	height: 72px;
			// }
		}
		&--modal-action{
			height: 42px;
			@media (min-width: 480px){
				height: 44px;
			}
			@media (min-width: 768px){
				height: 48px;
			}
			@media (min-width: 992px){
				height: 56px;
			}
			@media (min-width: 1200px){
				height: 64px;
			}
			// @media (min-width: 1440px){
			// 	margin-right: 24px;
			// 	height: 72px;
			// }
		}
	}
	&-icon-slider{
		position: relative;
		padding-bottom: 20px;
		@media (min-width: 768px){
			padding-bottom: 36px;
		}
		@media (min-width: 1440px){
			padding-bottom: 32px;
		}
		.slick-dots{
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 0;
			position: absolute;
			bottom: -20px;
			left: 50%;
			@include translateX(-50%);
			@media (min-width: 768px){
				bottom: -26px;
			}
			@media (min-width: 1440px){
				bottom: -32px;
			}
			li{
				display: inline-block;
				line-height: 16px;
				margin: 2px;
				@media (min-width: 768px){
					margin: 0 3px;
				}
				@media (min-width: 1440px){
					margin: 0 4px;
				}
				button{
					display: block;
					width: 9px;
					height: 8px;
					margin: 0;
				  padding: 0;
				  border: none;
				 	@include background-size(contain);
				  background: {
				  	color: transparent;
				    position: 50% 50%;
				    repeat: no-repeat;
				    image: url('../img/slider--inactive.png');
				  };
				  @media (min-width: 768px){
						width: 13px;
						height: 12px;
					}
				  @media (min-width: 1440px){
						width: 19px;
						height: 18px;
					}
				}
				&.slick-active{
					button{
						background: {
							image: url('../img/slider--active.png');
						};
					}
				}
			}
		}
	}
}

.modal{
	&--download-action{
		.modal-content{
			padding: 24px 0;
			background-color: rgba(#000,.6);
			border-radius: 24px;
		}
		.modal-dialog{
		  width: 280px;
			text-align: center;
		 	margin: 0 auto;
		  border: 2px solid #dadada;
		  border-radius: 24px;
		  opacity: 0;
		  @include transition(opacity .1s ease-in-out);
		  @media (min-width: 768px){
		  	width: 320px;
		  }
		  @media (min-width: 1200px){
		  	width: 400px;
		  }
		}
		&.in{
			.modal-dialog{
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -80px;
				margin-left: -140px;
				opacity: 1;
				@media (min-width: 768px){
		  		margin-left: -160px;
		  	}
			  @media (min-width: 1200px){
			  	margin-left: -200px;
			  }
			}
		}
	}
	.modal-action-wrapper{
		.single-action{
			margin-bottom: 24px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.modal-close{
		position: fixed;
		top: 0; right: 0;
		width: 32px;
		line-height: 32px;
		font-size: 18px;
		text-align: center;
		color: rgba(#fff,.8);
		background-color: transparent;
		border: 0;
	}
}