*, *:hover, *:active, *:focus, *:visited {
  outline: none !important;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.page--home {
  min-height: 320px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.page--has-bg-image {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/bg--sm.png");
}
@media (min-width: 768px) {
  .page--has-bg-image {
    background-image: url("../img/bg--lg.png");
  }
}

.home__socials {
  position: relative;
  z-index: 50;
  font-size: 0;
  text-align: center;
}
@media (min-width: 1440px) {
  .home__socials {
    z-index: 10;
    margin-top: -156px;
  }
}
.home__icons {
  width: 320px;
  margin: 12px auto;
}
@media (min-width: 480px) {
  .home__icons {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .home__icons {
    width: 560px;
  }
}
@media (min-width: 992px) {
  .home__icons {
    width: 800px;
  }
}
@media (min-width: 1200px) {
  .home__icons {
    width: 960px;
  }
}
@media (min-width: 1440px) {
  .home__icons {
    margin-top: 120px;
    width: 1120px;
  }
}
.home__actions {
  font-size: 0;
  text-align: center;
  margin-top: 24px;
}
@media (min-width: 1440px) {
  .home__actions {
    margin-top: 48px;
  }
}
.home__actions .action-wrapper {
  margin-bottom: 12px;
}
.home__actions .action-wrapper:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .home__actions .action-wrapper {
    display: inline-block;
    vertical-align: top;
    margin: 0 6px;
  }
}
@media (min-width: 1440px) {
  .home__actions .action-wrapper {
    margin: 0 12px;
  }
}

.x69-logo {
  display: block;
  width: 110px;
  height: 102px;
  margin: 0 auto 10px;
  position: relative;
  z-index: 60;
}
@media (min-width: 1440px) {
  .x69-logo {
    width: 257px;
    height: 239px;
  }
}
.x69-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
.x69-btn--social {
  height: 32px;
  margin-right: 8px;
  font-size: 16px;
}
.x69-btn--social:last-child {
  margin-right: none;
}
@media (min-width: 1440px) {
  .x69-btn--social {
    height: 72px;
    margin-right: 360px;
  }
  .x69-btn--social:last-child {
    margin: 0;
  }
}
.x69-btn--action {
  height: 36px;
  margin-right: 12px;
}
.x69-btn--action:last-child {
  margin-right: 0 !important;
}
@media (min-width: 1440px) {
  .x69-btn--action {
    margin-right: 24px;
    height: 72px;
  }
}
.x69-icon-slider {
  position: relative;
  padding-bottom: 20px;
}
@media (min-width: 1440px) {
  .x69-icon-slider {
    padding-bottom: 32px;
  }
}
.x69-icon-slider .slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 1440px) {
  .x69-icon-slider .slick-dots {
    bottom: -32px;
  }
}
.x69-icon-slider .slick-dots li {
  display: inline-block;
  line-height: 16px;
  margin: 2px;
}
.x69-icon-slider .slick-dots li button {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0;
  padding: 0;
  border: none;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/slider--inactive.png");
}
@media (min-width: 1440px) {
  .x69-icon-slider .slick-dots li button {
    width: 18px;
    height: 18px;
  }
}
.x69-icon-slider .slick-dots li.slick-active button {
  background-image: url("../img/slider--active.png");
}

.modal--download-action .modal-content {
  padding: 24px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
}
.modal--download-action .modal-dialog {
  width: 280px;
  text-align: center;
  border: 3px solid #dadada;
  border-radius: 24px;
}
@media (min-width: 768px) {
  .modal--download-action .modal-dialog {
    width: 480px;
  }
}
.modal .modal-action-wrapper .single-action {
  margin-bottom: 24px;
}
.modal .modal-action-wrapper .single-action:last-child {
  margin-bottom: 0;
}
