*, *:hover, *:active, *:focus, *:visited {
  outline: none !important;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.page--home {
  min-height: 320px;
  min-height: 320px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.page--has-bg-image {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/bg--sm.png");
}
@media (min-width: 768px) {
  .page--has-bg-image {
    background-image: url("../img/bg--lg.png");
  }
}

.home__logo {
  padding-top: 12px;
}
.home__socials {
  position: relative;
  z-index: 50;
  margin-bottom: 36px;
  font-size: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .home__socials {
    margin-top: -112px;
    margin-bottom: 72px;
  }
}
@media (min-width: 1200px) {
  .home__socials {
    margin-top: -128px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .home__socials {
    z-index: 10;
    margin-top: -156px;
  }
}
.home__icons {
  width: 300px;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .home__icons {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .home__icons {
    width: 560px;
  }
}
@media (min-width: 992px) {
  .home__icons {
    width: 840px;
  }
}
@media (min-width: 1200px) {
  .home__icons {
    width: 880px;
  }
}
@media (min-width: 1440px) {
  .home__icons {
    margin-top: 120px;
    width: 1080px;
  }
}
.home__actions {
  font-size: 0;
  text-align: center;
  margin-top: 36px;
  padding-bottom: 36px;
}
@media (min-width: 1440px) {
  .home__actions {
    margin-top: 48px;
  }
}
.home__actions .action-wrapper {
  margin-bottom: 12px;
  white-space: nowrap;
}
.home__actions .action-wrapper:last-child {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .home__actions .action-wrapper {
    display: inline-block;
    vertical-align: top;
    margin: 0 6px;
  }
}
@media (min-width: 1440px) {
  .home__actions .action-wrapper {
    margin: 0 12px;
  }
}

.x69-logo {
  display: block;
  width: 138px;
  height: 128px;
  margin: 0 auto 10px;
  position: relative;
  z-index: 60;
}
@media (min-width: 768px) {
  .x69-logo {
    width: 180px;
    height: 167px;
  }
}
@media (min-width: 1200px) {
  .x69-logo {
    width: 200px;
    height: 186px;
  }
}
@media (min-width: 1440px) {
  .x69-logo {
    width: 257px;
    height: 239px;
  }
}
.x69-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
.x69-btn--social {
  height: 36px;
  margin-right: 8px;
  font-size: 16px;
}
.x69-btn--social:last-child {
  margin-right: 0 !important;
}
@media (min-width: 480px) {
  .x69-btn--social {
    height: 44px;
  }
}
@media (min-width: 768px) {
  .x69-btn--social {
    height: 48px;
    margin-right: 240px;
  }
}
@media (min-width: 992px) {
  .x69-btn--social {
    height: 56px;
  }
}
@media (min-width: 1200px) {
  .x69-btn--social {
    height: 64px;
  }
}
@media (min-width: 1440px) {
  .x69-btn--social {
    margin-right: 360px;
  }
}
.x69-btn--action {
  height: 40px;
  margin-right: 12px;
}
.x69-btn--action:last-child {
  margin-right: 0 !important;
}
@media (min-width: 480px) {
  .x69-btn--action {
    height: 44px;
  }
}
@media (min-width: 768px) {
  .x69-btn--action {
    height: 48px;
  }
}
@media (min-width: 992px) {
  .x69-btn--action {
    height: 56px;
  }
}
@media (min-width: 1440px) {
  .x69-btn--action {
    height: 72px;
  }
}
.x69-btn--modal-action {
  height: 42px;
}
@media (min-width: 480px) {
  .x69-btn--modal-action {
    height: 44px;
  }
}
@media (min-width: 768px) {
  .x69-btn--modal-action {
    height: 48px;
  }
}
@media (min-width: 992px) {
  .x69-btn--modal-action {
    height: 56px;
  }
}
@media (min-width: 1200px) {
  .x69-btn--modal-action {
    height: 64px;
  }
}
.x69-icon-slider {
  position: relative;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .x69-icon-slider {
    padding-bottom: 36px;
  }
}
@media (min-width: 1440px) {
  .x69-icon-slider {
    padding-bottom: 32px;
  }
}
.x69-icon-slider .slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .x69-icon-slider .slick-dots {
    bottom: -26px;
  }
}
@media (min-width: 1440px) {
  .x69-icon-slider .slick-dots {
    bottom: -32px;
  }
}
.x69-icon-slider .slick-dots li {
  display: inline-block;
  line-height: 16px;
  margin: 2px;
}
@media (min-width: 768px) {
  .x69-icon-slider .slick-dots li {
    margin: 0 3px;
  }
}
@media (min-width: 1440px) {
  .x69-icon-slider .slick-dots li {
    margin: 0 4px;
  }
}
.x69-icon-slider .slick-dots li button {
  display: block;
  width: 9px;
  height: 8px;
  margin: 0;
  padding: 0;
  border: none;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/slider--inactive.png");
}
@media (min-width: 768px) {
  .x69-icon-slider .slick-dots li button {
    width: 13px;
    height: 12px;
  }
}
@media (min-width: 1440px) {
  .x69-icon-slider .slick-dots li button {
    width: 19px;
    height: 18px;
  }
}
.x69-icon-slider .slick-dots li.slick-active button {
  background-image: url("../img/slider--active.png");
}

.modal--download-action .modal-content {
  padding: 24px 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 24px;
}
.modal--download-action .modal-dialog {
  width: 280px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #dadada;
  border-radius: 24px;
  opacity: 0;
  -moz-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}
@media (min-width: 768px) {
  .modal--download-action .modal-dialog {
    width: 320px;
  }
}
@media (min-width: 1200px) {
  .modal--download-action .modal-dialog {
    width: 400px;
  }
}
.modal--download-action.in .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -140px;
  opacity: 1;
}
@media (min-width: 768px) {
  .modal--download-action.in .modal-dialog {
    margin-left: -160px;
  }
}
@media (min-width: 1200px) {
  .modal--download-action.in .modal-dialog {
    margin-left: -200px;
  }
}
.modal .modal-action-wrapper .single-action {
  margin-bottom: 24px;
}
.modal .modal-action-wrapper .single-action:last-child {
  margin-bottom: 0;
}
.modal .modal-close {
  position: fixed;
  top: 0;
  right: 0;
  width: 32px;
  line-height: 32px;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border: 0;
}
